# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.env

# Build
client/build/
client/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
